Repository asterinas/asterinas, changes with the owners that CODEOWNERS names for each.
All owners: @tatetian, @StevenJiang1110, @lrh2000, @lucassong-mh, @cchanging, @junyang-zh, @cqs21, @sdww0, @grief8

CODEOWNERS:

# This file defines the code owners of the Asterinas main repo
#
# Feel free to volunteer as a code owner
# when you have contributed enough to and acquired enough knowledge
# of a specific sub-project/sub-system/component/module.

#=============================================================================
# The root code owners (maintainers)
#=============================================================================
* @tatetian

# The top-level sub-projects of Asterinas are listed below:
#
# 1. The Asterinas book
# 2. The Asterinas kernel
# 3. The Asterinas OSDK
# 4. The Asterinas OSTD
#
# Guidelines:
# - The following sections are organized by sub-projects.
# - In a sub-project, the rules are listed in alphabetical order
#   based on their file paths.
# - In each rule under a sub-project,
#   the code owners are listed in alphabetical order.

#=============================================================================
# The Asterinas book
#=============================================================================

/book/                          @tatetian

#=============================================================================
# The Asterinas kernel
#=============================================================================

# Sub-project code owners
/kernel/                        @StevenJiang1110 @lrh2000

# Sub-system code owners
/kernel/src/fs/                 @lucassong-mh
/kernel/src/net/                @StevenJiang1110 @lrh2000
/kernel/src/time/               @cchanging
/kernel/src/vm/                 @cchanging @junyang-zh

# Component code owners
/kernel/comps/block/            @lucassong-mh
/kernel/comps/logger/           @cchanging
/kernel/comps/mlsdisk/          @cqs21 @lucassong-mh
/kernel/comps/network/          @StevenJiang1110 @lrh2000
/kernel/comps/softirq/          @cchanging
/kernel/comps/time/             @cchanging
/kernel/comps/virtio/           @sdww0

#=============================================================================
# The Asterinas OSDK
#=============================================================================

# Sub-project code owners
/osdk/                          @StevenJiang1110 @junyang-zh

#=============================================================================
# The Asterinas OSTD
#=============================================================================

# Sub-project code owners
/ostd/                          @lrh2000 @junyang-zh @sdww0

# Module code owners
/ostd/src/bus/                  @sdww0
/ostd/src/logger.rs             @cchanging
/ostd/src/timer/                @cchanging

#=============================================================================
# Other
#=============================================================================

/.github/                       @grief8
/osdk/tools/docker/             @grief8
/test/                          @grief8
/tools/                         @grief8
/triagebot.toml                 @grief8

/Makefile                       @junyang-zh
/OSDK.toml                      @junyang-zh

# The following critical files are singled out
/CODEOWNERS                     @tatetian
/VERSION                        @tatetian

Add basic structure for netlink socket
  kernel/src/net/mod.rs
  kernel/src/net/socket/mod.rs
  kernel/src/net/socket/netlink/addr.rs
  kernel/src/net/socket/netlink/mod.rs
  kernel/src/net/socket/netlink/multicast_group.rs
  kernel/src/net/socket/netlink/route/bound.rs
  kernel/src/net/socket/netlink/route/mod.rs
  kernel/src/net/socket/netlink/route/unbound.rs
  kernel/src/net/socket/netlink/table.rs
  kernel/src/net/socket/util/socket_addr.rs
  kernel/src/syscall/socket.rs
  kernel/src/util/net/addr/family.rs
  kernel/src/util/net/addr/ip.rs
  kernel/src/util/net/addr/mod.rs
  kernel/src/util/net/addr/netlink.rs
  kernel/src/util/net/addr/vsock.rs
Owners: @StevenJiang1110, @lrh2000

DFS lock protocol for the page table
  ostd/src/mm/frame/mod.rs
  ostd/src/mm/frame/test.rs
  ostd/src/mm/page_table/cursor/locking.rs
  ostd/src/mm/page_table/cursor/mod.rs
  ostd/src/mm/page_table/mod.rs
  ostd/src/mm/page_table/node/child.rs
  ostd/src/mm/page_table/node/entry.rs
  ostd/src/mm/page_table/node/mod.rs
  ostd/src/mm/page_table/test.rs
Owners: @lrh2000, @junyang-zh, @sdww0

Make TLB issuing less contended
  ostd/src/mm/tlb.rs
Owners: @lrh2000, @junyang-zh, @sdww0

Remove the activation lock and use RCU to protect PT removal
  kernel/src/vm/vmar/mod.rs
  ostd/src/mm/page_table/mod.rs
  ostd/src/mm/tlb.rs
  ostd/src/mm/vm_space.rs
  ostd/src/sync/mod.rs
  ostd/src/sync/rcu/mod.rs
Owners: @cchanging, @junyang-zh, @lrh2000, @sdww0

Implement the astray marking in PT to ensure serializability
  kernel/src/vm/vmar/mod.rs
  ostd/src/mm/page_table/cursor/locking.rs
  ostd/src/mm/page_table/cursor/mod.rs
  ostd/src/mm/page_table/mod.rs
  ostd/src/mm/page_table/node/mod.rs
  ostd/src/mm/vm_space.rs
Owners: @cchanging, @junyang-zh, @lrh2000, @sdww0

Use the queued spin lock for the page table
  ostd/src/mm/page_table/mod.rs
  ostd/src/mm/page_table/node/mod.rs
  ostd/src/sync/spin/queued.rs
Owners: @lrh2000, @junyang-zh, @sdww0

Remove `Arc` guards of locks that have no users
  ostd/src/sync/mod.rs
  ostd/src/sync/mutex.rs
  ostd/src/sync/rwlock.rs
  ostd/src/sync/rwmutex.rs
  ostd/src/sync/spin.rs
Owners: @lrh2000, @junyang-zh, @sdww0

Implement the queued spin-lock
  ostd/src/sync/mod.rs
  ostd/src/sync/spin/mod.rs
  ostd/src/sync/spin/queued.rs
Owners: @lrh2000, @junyang-zh, @sdww0

Remove the Metis image loading, revert if needed
  kernel/src/fs/mod.rs
  test/Makefile
  tools/qemu_args.sh
Owners: @lucassong-mh, @grief8

Add virtual memory system call scalability microbenchmarks
  .gitignore
  corten_scripts/microbench.sh
  corten_scripts/pin_cpu.py
  corten_scripts/qmp.py
  corten_scripts/start_linux.sh
  test/apps/Makefile
  test/apps/scale/Makefile
  test/apps/scale/common.h
  test/apps/scale/mem_usage.c
  test/apps/scale/mmap.c
  test/apps/scale/mmap_pf.c
  test/apps/scale/munmap.c
  test/apps/scale/munmap_virt.c
  test/apps/scale/pf.c
  test/apps/scale_old/Makefile
  test/apps/scale_old/common.h
  test/apps/scale_old/mem_usage.c
  test/apps/scale_old/mmap.c
  test/apps/scale_old/mmap_pf.c
  test/apps/scale_old/munmap_dist.c
  test/apps/scale_old/munmap_rand.c
  test/apps/scale_old/munmap_virt.c
  test/apps/scale_old/pf_dist.c
  test/apps/scale_old/pf_rand.c
  test/apps/scripts/microbench-vm-scale-old.sh
  tools/qemu_args.sh
Owners: @tatetian, @grief8

Add the Metis data image
  kernel/src/fs/mod.rs
  kernel/src/process/process_vm/heap.rs
  test/Makefile
  test/apps/scripts/bench_metis_wrmem.sh
  tools/qemu_args.sh
Owners: @lucassong-mh, @StevenJiang1110, @lrh2000, @grief8

scripts to speculate linux pt usage
  corten_scripts/average.py
  corten_scripts/get_vm.sh
Owners: @tatetian

Implement the single layer of VM abstraction
  kernel/src/process/process_vm/heap.rs
  kernel/src/process/process_vm/init_stack/mod.rs
  kernel/src/process/process_vm/mod.rs
  kernel/src/process/program_loader/elf/load_elf.rs
  kernel/src/process/program_loader/mod.rs
  kernel/src/syscall/brk.rs
  kernel/src/vm/vmar/mod.rs
  kernel/src/vm/vmar/vm_mapping.rs
  ostd/src/arch/x86/iommu/dma_remapping/second_stage.rs
  ostd/src/arch/x86/mm/mod.rs
  ostd/src/mm/page_table/cursor/locking.rs
  ostd/src/mm/page_table/cursor/mod.rs
  ostd/src/mm/page_table/mod.rs
  ostd/src/mm/page_table/node/child.rs
  ostd/src/mm/page_table/node/entry.rs
  ostd/src/mm/page_table/test.rs
  ostd/src/mm/vm_space.rs
Owners: @StevenJiang1110, @lrh2000, @cchanging, @junyang-zh, @sdww0

Configurable VMAR allocator
  kernel/Cargo.toml
  kernel/src/vm/vmar/mod.rs
  kernel/src/vm/vmar/vm_allocator.rs
Owners: @StevenJiang1110, @lrh2000, @cchanging, @junyang-zh

[Workaround] +fsrm is faster on AMD
  osdk/src/commands/build/mod.rs
Owners: @StevenJiang1110, @junyang-zh

Add a zeroed PT cache for allocation
  ostd/src/mm/page_table/cursor/locking.rs
  ostd/src/mm/page_table/cursor/mod.rs
  ostd/src/mm/page_table/mod.rs
  ostd/src/mm/page_table/node/entry.rs
  ostd/src/mm/page_table/zeroed_pt_pool.rs
Owners: @lrh2000, @junyang-zh, @sdww0

[Workaround] Allocate 384 CPU masks on stack
  ostd/src/cpu/set.rs
Owners: @lrh2000, @junyang-zh, @sdww0

Add LATR
  ostd/Cargo.toml
  ostd/src/boot/smp.rs
  ostd/src/lib.rs
  ostd/src/mm/tlb/latr.rs
  ostd/src/mm/tlb/mod.rs
  ostd/src/mm/vm_space.rs
  ostd/src/task/processor.rs
Owners: @lrh2000, @junyang-zh, @sdww0

Add real vfork logics
  kernel/src/process/clone.rs
  kernel/src/process/exit.rs
  kernel/src/process/mod.rs
  kernel/src/process/posix_thread/posix_thread_ext.rs
  kernel/src/process/process_vm/mod.rs
  kernel/src/process/program_loader/mod.rs
  kernel/src/process/status.rs
  kernel/src/syscall/execve.rs
Owners: @StevenJiang1110, @lrh2000

Enable vfork gVisor test
  test/syscall_test/Makefile
Owners: @grief8
